
body{
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-enlace{
    background-color: aliceblue;
    color: rgb(0, 0, 0);
    padding: 10px 30px;
    display: inline-flexbox;
    text-decoration: none;
}
nav{
    background: none;
    top: right;
    display: flex;
    justify-content: flex-end;
    
}
.nav-enlace1{
    background-color: rgb(30, 118, 196);
    color: rgb(255, 255, 255);
    padding: 10px 30px 10px 10px;
    display: inline-flexbox;
    text-decoration: none;
}

 .top{
     color: rgb(0, 0, 0);
     font-size: 3em;
     text-transform: uppercase;
     font: 'arial';
     position: absolute;
     right: 50%;
     top: 50%;
     padding: 10px;
     transform: translateX(-50%), translateY(-50%);
 }
 
    .triangulo{
        width: 0;
        height: 0;
        border-top: 100px solid blue;
        border-right: 70px solid transparent;
        border-left: 70px solid transparent;
        opacity: .2;
        }

        .cuadrado {
            width: 1000px; 
            height: 900px; 
            background: #428bca;
            color: rgb(0, 0, 0);
     font-size: 3em;
     text-transform: uppercase;
     font: 'arial';
     position: absolute;
     left: 50%;
     top: 50%;
     padding: 10px;
     transform: translateX(-50%), translateY(-50%);
       }
       .img1{
 position: absolute;
 left: 70%;
 top: 50%;
 padding: 10px;
 transform: translateX(-50%), translateY(-50%);
   }

   .cuadrado1 {
    width: 1000px; 
    height: 900px; 
    background: #428bca;
    color: rgb(0, 0, 0);
font-size: 3em;
text-transform: uppercase;
font: 'arial';
position: absolute;
right: 50%;
top: 50%;
padding: 10px;
transform: translateX(-50%), translateY(-50%);
}
   .img2{
    position: absolute;
    right: 70%;
    top: 50%;
    padding: 10px;
    transform: translateX(-50%), translateY(-50%);
      }

   .container{
    display: flex;
    position: absolute;
 right: 70%;
 top: 100%;
 padding: 10px;
 transform: translateX(-50%), translateY(-50%);
 
}







  .tarjeta{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: absolute;
 right: 70%;
 left: 10%;
 top: 150%;
 width: 1100px;
 padding: 10px;
 transform: translateX(-50%), translateY(-50%);
 font-size: 1.5rem;
}
  
  .boton{
    background-color: rgb(30, 118, 196);
    color: rgba(255, 255, 255, 0.712);
    padding: 10px 30px 10px 10px;
    display: inline-flexbox;
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .about{
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    
    font: 'arial';
    position: absolute;
    right: 50%;
    top: 170%;
    padding: 10px;
    transform: translateX(-50%), translateY(-50%);
  }
  .column {
    float: left;
    width: 15%;
    padding: 39px;
    height: 200px;
  border-radius: 10%;
  border: 5px solid black;
    position: relative;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }
  .tarjeta1{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: absolute;
 right: 70%;
 left: 10%;
 top: 130%;
 width: 250px;
 padding: 10px;
 transform: translateX(-50%), translateY(-50%);
 font-size: 1rem;
}
.tarjeta2{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: absolute;
 right: 70%;
 left: 47%;
 top: 130%;
 width: 250px;
 padding: 10px;
 transform: translateX(-50%), translateY(-50%);
 font-size: 1rem;
}
.tarjeta3{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: absolute;
 right: 70%;
 left: 117%;
 top: 0.5%;
 width: 250px;
 padding: 10px;
 transform: translateX(-50%), translateY(-50%);
 font-size: .9rem;
}
.tarjeta4{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: absolute;
 right: 70%;
 left: 117%;
 top: 0.5%;
 width: 250px;
 padding: 10px;
 transform: translateX(-50%), translateY(-50%);
 font-size: 1rem;
}
.prepar{
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    
    font: 'arial';
    position: absolute;
    right: 50%;
    top: 270%;
    padding: 10px;
    transform: translateX(-50%), translateY(-50%);
  }

  .tarjeta11{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: absolute;
 right: 10%;
 left: 70%;
 top: 290%;
 width: 1100px;
 padding: 10px;
 transform: translateX(-50%), translateY(-50%);
 font-size: 1.5rem;
}
.tarjeta111{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: absolute;
 right: 10%;
 left: 70%;
 top: 350%;
 width: 1100px;
 padding: 10px;
 transform: translateX(-50%), translateY(-50%);
 font-size: 1.5rem;
}
  
.tarjeta1121{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: absolute;
 right: 10%;
 left: 70%;
 top: 470%;
 width: 1100px;
 padding: 10px;
 transform: translateX(-50%), translateY(-50%);
 font-size: 1.5rem;
}
  
.tarjeta11211{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: absolute;
 right: 10%;
 left: 70%;
 top: 510%;
 width: 1100px;
 padding: 10px;
 transform: translateX(-50%), translateY(-50%);
 font-size: 1.5rem;
}
  
.tarjeta112111{
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: absolute;
 right: 10%;
 left: 70%;
 top: 580%;
 width: 1100px;
 padding: 10px;
 transform: translateX(-50%), translateY(-50%);
 font-size: 1.5rem;
}
.tarjetatarjata{
    
  
    position: absolute;
 right: 10%;
 left: 70%;

}
  
  